<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>GPLA</h1>
                <p>A quest to find the good vibrations. ¡Pura Vida!</p>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">Blog Posts</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="blog-input">
                        <div class="input-group">
                            <input type="text" class="form-control" id="contact-subject" ng-model="contactSubject" placeholder="Subject">
                            <input type="text" class="form-control" id="contact-email" ng-model="contactEmail" placeholder="Email">
                            <span class="input-group-btn">
                                <button id="email-button" class="btn btn-primary" ng-click="sendContactEmail()">Submit</button>
                            </span>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="container">
                <div class="input-group">
                    <textarea type="text" class="form-control" id="input-email" ng-model="newContactEmail" placeholder="Enter Text..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
