<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>GPLA</h1>
                <p>A quest to find the good vibrations. ¡Pura Vida!</p>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">Blog Posts</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="single-blog" ng-model="singleBlog">
                <blog-post blog-data="singleBlog"></blog-post>
                <button id="single-edit" ng-click="editBlog()">Edit</button><button id="single-delete" ng-click="deleteBlog()">Delete</button>
            </div>
        </div>
    </div>
</div>