<div>
    <p><a ng-href="/users">User Management System</a></p>
    <p><a ng-href="/contact">Contact</a></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>GPLA</h1>
                <p>A quest to find the good vibrations. ¡Pura Vida!</p>
                <p><a class="btn btn-primary btn-lg" href="/compose" role="button">New Blog Post</a></p>
            </div>
        </div>
    </div>
</div>
<div class="containter-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h3>Blogs</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blogs-body">
                <div class="new-blog" ng-repeat="blog in blogs">
                    <blog-post blog-data="blog"></blog-post>
                    <p><a href="/{{ blog.id }}">Read</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
